#folha {
    background-color: white;
    width: 70%;
    border-radius: 2px;
    padding: 1% 2.5%;
    width: 60%;
    margin-left: auto;
    margin-right: auto
}
body {
    background-color: lightpink;
  }
#centro {
    text-align: center
}
span {
    border: 1px solid black;
}
table, th, td {
    border: 1px solid black;
  }